<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="text/css" href="../../static/frontend_lib/img/moners_1.png" type="image/png">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="../../static/frontend_lib/framework/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/frontend_lib/css/authorization_style.css">
</head>

<body>
    <header>
        <h1><a href="../landing/landing.html">ZLP Finance</a></h1>
        <nav>
            <ul>
                <li><a href="#">Ссылка1</a></li>
                <li><a href="#">Ссылка2</a></li>
                <li><a href="#">Ссылка3</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post" class="authorization-box center-div">
            <h2>Вход</h2>
            <div class="authorization-box-item-container">
                <div class="item">
                    <input type="text" name="userLogin" placeholder="Логин">
                </div>
                <div class="item">
                    <input type="password" name="userPassword" placeholder="Пароль">
                </div>
                <div class="item login-btn">
                    <button type="submit" class="btn btn-blue">Войти</button>
                </div>
                <div class="item swap-reg-link-box">
                    <a href="authorization_sign-up.html">Зарегистрироваться</a>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="../../static/frontend_lib/framework/js/script.js"></script>
    </main>
</body>

</html>