.add-button {
    background-color: var(--color-dark-green);
    font-weight: 500;
    font-size: 30px;
    border-radius: 5px;
    width: 200px;
    height: 64px;
    text-align: center;
}

.item {
    display: flex;
    justify-content: center;
}

main {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 2%;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.center-div {
    margin-top: 10%;
    border-radius: 5px;
    border: 2px solid var(--color-input-gray);
    color: var(--color-text-white);
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: var(--color-background-gray);
    padding: 25px 0px;
}

.forms {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}

.forms textarea {
    background-color: var(--color-input-gray);
    border: 2px solid var(--color-input-outline-gray);
    font-size: 20px;
    border-radius: 5px;
    width: 430px;
    padding: 10px 15px;
}

.forms input {
    background-color: var(--color-input-gray);
    font-size: 20px;
    border-radius: 3px;
    border: 2px solid var(--color-input-outline-gray);
    color: white;
    width: 430px;
    height: 46;
    padding: 10px 15px;
}

.forms label {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 23px;
}

input:focus {
    outline: none !important;
    border-color: var(--color-light-green);
}

textarea:focus {
    outline: none !important;
    border-color: var(--color-light-green);
}