h2 {
    margin-top: 2%;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

main {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.center-div {
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 2px solid var(--color-input-gray);
    color: var(--color-text-white);
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: var(--color-background-gray);
    padding: 25px 0px;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border: 2px solid var(--color-input-gray);
    background-color: var(--color-background-black);
    border-radius: 5px;
    padding: 20px;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}

.line {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: first baseline;
}

.value-name {
    font-size: 22px;
    font-weight: 500;
    width: 220px;
    display: flex;
    justify-content: first baseline;
}

hr {
    width: 85%;
    background-color: transparent;
    height: 2px;
    border: none;
}

.value {
    width: auto;
    height: fit-content;
    font-weight: 400;
    font-size: 22px;
    margin-left: 30px;
}

.text {
    margin-left: 61px;
    background-color: transparent;
    font-size: 22px;
    width: 464px;
    height: 264px;
}

footer {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

.add-button {
    background-color: var(--color-dark-green);
    font-weight: 500px;
    font-size: 25px;
    height: 10px;
    border-radius: 6px;
    height: 50px;
    margin-right: 250px;
    margin-bottom: 75px;
}