@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root {
    --color-hover-green: #00402d;
    --color-dark-green: #006747;
    --color-light-green: #00805A;
    --color-text-green: #00cc8f;
    --color-text-white: #fff;
    --color-input-gray: #383737;
    --color-input-outline-gray: #555454;
    --color-background-gray: #313030d8;
    --color-background-black: #252525;
    --color-background-image: #121212;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none !important;
    border-color: var(--color-light-green);
}

textarea:focus {
    outline: none !important;
    border-color: var(--color-light-green);
}

header {
    background-color: var(--color-light-green);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    height: 72px;
    position: fixed;
    top: 0;
}

header h1 {
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    align-self: center;
    margin-left: 20px
}

body {
    background-image: url(../../../media/images/background.png);
    background-repeat: no-repeat;
    background-color: var(--color-background-image);
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

footer {}

a {
    text-decoration: none;
}

header nav {
    height: fit-content;
    width: fit-content;
    align-self: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
}

header nav ul li {
    float: left;
    height: max-content;
    width: max-content;
    margin: auto 5px;
}

button {
    border: none;
    color: var(--color-text-white);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: var(--color-light-green);
}

button:hover {
    transition: 0.3s;
    background-color: var(--color-hover-green);
}

input {
    color: var(--color-text-white);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

textarea {
    color: var(--color-text-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: none;
    resize: none;
    overflow: hidden;
}

.logout-button {
    background-color: var(--color-dark-green);
    font-weight: 400;
    font-size: 18px;
    border-radius: 6px;
    width: 104px;
    height: 46px;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 15px;
}

.login-button {
    background-color: var(--color-dark-green);
    font-weight: 400;
    font-size: 18px;
    border-radius: 6px;
    width: 104px;
    height: 46px;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 15px;
}

.registration-button {
    background-color: var(--color-dark-green);
    font-weight: 400;
    font-size: 18px;
    border-radius: 6px;
    width: 224px;
    height: 46px;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 15px;
}