<header>
    <h1>
        <a href="/"><span style="color:var(--color-green-light)">Fin</span>Project</a>
    </h1>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="/authentication/logout" class="btn">Выйти</a>
                </li>
            {% else %}
                <li>
                    <a href="/authentication/register" class="btn">Зарегистрироваться</a>
                </li>
                <li>
                    <a href="/authentication/login" class="btn">Войти</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>