{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ form.form_name }}</title>
{% endblock %}

{% block content %}
    <main>
        <form method="post" class="center-div">
            <h2>{{ form.form_name }}</h2>
            {% csrf_token %}
            <div>
                {% for field in form %}
                    <div class="item">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
            </div>

            <div class="item">
                <button type="submit" class="btn btn-blue">{{ form.button_text }}</button>
            </div>
        </form>
    </main>
{% endblock %}