{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Просмотр транзакций</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href={% static "/css/get_targets.css" %}>

{% endblock %}

{% block content %}
    <main>
        <h2>Транзакции</h2>
        <div class="center-div">
            {% for item in targets %}
                <div class="item">
                    <p>Название: {{ item.title }}</p>
                    <p>Описание: {{ item.description }}</p>
                    <p>Ожидаемое время: {{ item.datetime }}</p>
                    <p>Сумма: {{ item.value }}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}