{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href= {% static "/frameworks/base/css/stylesheet.css" %}>

    {% block title %}<title>Finproject</title>{% endblock %}
    {% block icon %}{% endblock %}
    {% block links %}{% endblock %}
</head>

<body>
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>