header h1 {
    color: #fff;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 187.5%;
}

header nav ul li .btn {
    font-size: 20px;
    height: 45px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
}

main {
    display: flex;
    padding: 0 19% 0 13%;
    justify-content: space-between;
}

main div h2 {
    color: var(--color-text-green);
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    padding: 164px 0 0 0;
    margin: 0;
}

main div p {
    color: #fff;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 187.5%;
    margin: 46px 0 0 0;
}

.btn {
    vertical-align: middle;
    font-size: 40px;
    width: 355px;
    height: 104px;
    margin: 105px 0 0 0;
    background-color: var(--color-dark-green);
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-hover-green);
}