main {
	display: flex;
	margin: 0 15.6%;

	justify-content: space-between;
	align-content: center;
}

main h2 {
	margin: 164px 0 30px 0;

	font-size: 48px;
	color: var(--color-green-common);
}

main p {
	margin: 0 0 152px 0;

	font-size: 25px;
	line-height: 35px;
}

main .btn{
	font-size: 40px;
	padding: 25px 25px;
}