<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FinProject</title>
    <link rel="stylesheet" type="text/css" href="../../static/frontend_lib/framework/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/frontend_lib/css/landing_style.css">
</head>

<body>
    <header>
        <h1><span style="color: #33A586;">Fin</span>Project</h1>
        <nav>
            <ul>
                <li><a href="../registration/authorization_sign-up.html"><button class="btn btn-green-gray">Зарегистрироваться</button></a></li>
                <li><a href="../registration/authorization_log-in.html"><button class="btn btn-green-gray">Войти</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h2>Составьте свой финансовый план и<br> вы сможете все!</h2>
            <p>
                Сайт создан для быстрого и удобного ведения <br>финансового плана. Регистрируйтесь и начинайте <br>управлять своими деньгами прямо сейчас.
            </p>
            <a href="../registration/authorization_sign-up.html"><button class="btn">Попробовать</button></a>
        </div>
        <img src="../../static/frontend_lib/img/lamp.png" style="width: 312px; height: 714px;">
    </main>
</body>

</html>