{% extends "base_landing.html" %}
{% load static %}

{% block icon %}
    <link rel="shortcut icon" type="image/png" href={% static "/media/images/bulb.png" %}>

{% endblock %}
{% block links %}
    <link rel="stylesheet" type="text/css" href={% static "/css/landing.css" %}>
{% endblock %}

{% block content %}
    <main>
        <div>
            <h2>Составьте свой финансовый план и<br> вы сможете всё!</h2>
            <p>
                Сайт создан для быстрого и удобного ведения <br>финансового плана. Регистрируйтесь и начинайте <br>управлять
                своими деньгами прямо сейчас
            </p>
            <a href="/authentication/register">
                <button class="btn">Попробовать</button>
            </a>
        </div>
        <img src={% static "/media/images/bulb.png" %} style="width:312px;height:714px;">
    </main>
{% endblock %}