{% extends "finance/base.html" %}
{% load static %}

{% block title %}
    <title>{{ form.form_name }}</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href={% static "/css/add.css" %}>
{% endblock %}

{% block content %}
    <main>
        <form method="post" class="card center">
            {% csrf_token %}

            <input type="hidden" name="metadata" value={{ form.data }}>

            <div class="card-item center">
                <h2>{{ form.form_name }}</h2>
            </div>

                {% for field in form %}
                    <div class="card-item">
                        {{ field.errors }}
                        {{ field }}
                        {% if field.label_tag != "" %}
                            {{ field.label_tag }}
                        {% endif %}
                    </div>
                {% endfor %}

            <div class="card-item">
                <button type="submit" class="btn center">{{ form.button_text }}</button>
            </div>
        </form>
    </main>
{% endblock %}